body {
  background-color: #404040;
}

h1 {
    font: 24pt lobster;
}

a {
    color: rgb(44,121,174);
}

p {
    font: 12pt Open Sans;
}

#instructions {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

#canvas {
  display: block;
  background-color: #808080;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}